<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <p>{{>header}}</p>
    <p>Website created by Rafael Cruz. Uses data from positionstack.com and weatherstack.com.</p>
    <p>{{>footer}}</p>
  </body>
</html>